<!DOCTYPE html>
<html>
<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src= "admin-controller.js"></script>


<body ng-app="myApp" ng-controller="productControl">

<div class="container">

<div ng-hide="!hideLoggedIn()">
  <h3>Products for Apps4Fashion</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Product (group) ID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        
        <td>{{ product.name }}</td>
        <td>{{ product.categoryDesc }}</td>
        <td>{{ product.uniqueId }}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" ng-click="products()">
  <span class="glyphicon glyphicon-save"></span>Check products</button>
  <hr>
  <h3>Customers for Apps4Fashion</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>e-mail</th>
        <th>Currency</th>
        <th>Address</th>
        <th>City</th>
        <th>Postcal code</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="customer in customers">
        <td>{{ customer.customerNo }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.currencyCode }}</td>
        <td>{{ customer.address }} </td>
        <td>{{ customer.city }} </td>
        <td>{{ customer.postalCode}} </td>
      </tr>
    </tbody>
  </table>

  </div>


  <div ng-hide="hideLoggedIn()">
    <hr>
    <button class="btn btn-success" ng-click="login()" >
    <span class="glyphicon glyphicon-user"></span>Login</button>

    

    <form class="form-horizontal" ng-hide="hideLoggedIn()">
      <div class="form-group">
        <label class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-10">
        <input type="text" ng-model="username" ng-disabled="{{ loggedIn }}" placeholder="Username">
        </div>
      </div> 
    
      <div class="form-group">
        <label class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-10">
        <input type="password" ng-model="password" placeholder="Password">
        </div>
      </div>
    </form>
  <hr>
  </div>


  <button class="btn btn-success" ng-hide="!hideLoggedIn()" ng-click="customers()">
  <span class="glyphicon glyphicon-save"></span>Check customers</button>

  <button class="btn btn-success" ng-hide="hideUpdateCustomers()" ng-click="updateCustomers()">
  <span class="glyphicon glyphicon-save"></span>Update all customers</button>
</div>


</body>
</html>
